@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dracula-background text-white min-h-screen flex flex-col;
}

html, body, #__next {
  @apply min-h-screen flex flex-col;
}

#__next {
  @apply flex flex-col flex-grow;
}

/* Adicionando estilos globais para truncar texto */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Adicionando borda fina ao redor dos cards */
.card {
  border: 1px solid #6272a4; /* cor do tema Dracula */
  border-radius: 8px;
  padding: 8px;
}

/* Adicionando efeito de hover aos cards */
.card:hover {
  background-color: #44475a; /* cor do tema Dracula */
}